services:
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    environment:
      PUID: 1000 # Tu PUID real
      PGID: 1000 # Tu PGID real
      HOMEPAGE_ALLOWED_HOSTS: "localhost:8088,192.168.1.12:8088,100.94.190.33:8088" # <--- CAMBIO IMPORTANTE AQUÃ
      # TZ: Europe/Madrid 
    ports:
      - "8088:3000"
    volumes:
      - ./config:/app/config
      - /var/run/docker.sock:/var/run/docker.sock:ro
    restart: unless-stopped
